.infoDiv{
    position: relative;
    width: 1000px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 100px;
    padding: 50px;
}
.photo{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.line-dev{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    /*text-align: center;*/
}
.name{
    font-size: 20px;
    margin-right: 20px;
}
.label{
    padding: 5px 10px;
    margin-right: 5px;
}
body{
    text-align: center;
}
@media screen and (max-width: 1279px){
    body{
        text-align: center;
        width:1281px;
    }
}
.xingqu-title{
    position: relative;
    width: 90%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
    font-size: 13px;
}
.masaike{
    color: #666666; /*字体颜色*/
    text-shadow: 0 0 10px rgba(0,0,0,0.5);/*字体背景颜色*/
}