<div class="main-header-div">
    <div class="main-title-div2">
        <div class="logo f_l" style="margin-left: 150px">
            <a href="#">
                <img src="/static/images/logo.png">
            </a>
        </div>

        <div id="topnav" class="f_r">
            <ul>
            {{/* <input type="text" style="border-radius:5px;height: 20px"/>
             <a href="#" target="_blank"></a>*/}}
                <a  style="font-size: 14px" href="/love" target="_blank">点我</a>
                <a style="font-size: 14px" href="https://www.yangqq.com/link.html" target="_blank">素材</a>
                <a style="font-size: 14px" href="/" id="topnav_current">首页</a>
                <a style="font-size: 14px" href="/myinfo">关于我</a>
                <a style="font-size: 14px" href="/blog">文章</a>
                <a style="font-size: 14px" href="/mood">心情</a>
                <a style="font-size: 14px" href="/photo">相册</a>
                <a style="font-size: 14px" href="#" target="_blank">海聊</a>
                <a style="font-size: 14px" href="#" target="_blank">大美临沂</a>
                <a style="font-size: 14px" href="#" target="_blank">企业排行</a>
                <a style="font-size: 14px" href="https://www.layui.com/demo/table.html" target="_blank">Layui</a>
                <a style="font-size: 14px" href="/user" class="layui-btn layui-btn-primary">登陆</a>
                <a style="font-size: 14px" href="/reg" class="layui-btn layui-btn-primary">注册用户</a>
            </ul>
        </div>
    </div>
</div>